/* body {
  background-image: url(imgFood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

img {
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 45%;
  margin: 20px 40px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
  color: #6e7c71;
}

.totalCalories {
  background-color: #d5f1db;
  display: inline-block; 
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-weight: bolder;
  font-style: italic;
}

ul {
  list-style-type: none;
  line-height: 70%;
}

input, button {
  font-size: 16px;
}

@media all and (max-width: 900px) {
  .container {
    max-width: 100%;
  }

  h1 {
    font-size: 34px;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    line-height: normal;
  }

}